.styleGroup {
  box-sizing: border-box;
  display: inline-flex;
  flex-flow: row wrap;
  padding: 2px;

  &:not(:last-of-type)::after {
    display: inline-block;
    margin: 7px 0;
    margin-left: 2px;
    border-left: 1px groove rgba(0, 0, 0, 0.1);
    content: '';
  }
}